@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: #fafbfc;
}

.custom-bg-blue {
  background-color: #2d9cdb;
}

.custom-text-blue {
  color: #2d9cdb;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #ffffff;
  }
}

.custom-line {
  height: 0.05rem;
  width: 50%;
  background-color: #a0aec0;
}
